/* ======================================
   VARIABLES
====================================== */
:root {
  --background: rgba(0, 0, 0, 0.973);
  --background-sticky: rgba(0, 0, 0, 0.763);
  --nav-item-color: white;
  --nav-item-color-hover: gray;
  --hero-title-color: rgb(255, 255, 255);
  --hero-title-background: rgba(0, 0, 0, 0.9);
  --slider-btns-color: rgba(255, 255, 255, 0.923);
  --slider-btn-arrows-color: black;
  --slider-btn-arrows-color-hover: black;
}

/* ======================================
   GENERAL
====================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  background-color: var(--background);
  width: 100%;
}

.section {
  max-width: 100%;
  margin-bottom: 3rem;
  width: 100%;
  transition: all 0.8s linear;
}

.section--hidden {
  opacity: 0;
  transform: translateY(3rem);
  transition: none; /* Desactivar transición si está causando parpadeo */
}

/* ======================================
   NAVIGATION
====================================== */
.nav {
  top: 0;
  z-index: 10;
  max-width: 100%;
  background-color: black;
  transition: background-color 0.3s ease;
}
.off-screen-menu {
  background-color: black;
  height: 35%;
  width: 40%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
}

.sticky {
  position: fixed;
  width: 100%;
  min-width: 100%;
  background-color: var(--background);
  animation: slideDown 0.3s linear;
  z-index: 999;
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.nav__logo {
  width: 25%;
  height: 6rem;
  background-color: var(--background-sticky);
  margin-right: 25rem;
  margin-left: 15rem;
  padding: 0;
}

.nav__links {
  width: 50%;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.nav__link:hover {
  color: var(--nav-item-color-hover);
}

/* ======================================
   HERO SECTION
====================================== */
.hero {
  transition: none; /* O controla bien el estado */
  margin-top: 0;
  background-color: var(--background);
  margin-bottom: 4rem;
  border-bottom: 1px solid gray;
  position: relative;
  overflow: hidden;
  max-height: 90rem;
}

.hero img {
  transition: none; /* O controla bien el estado */
  margin-top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  opacity: 0.7;
  color: var(--hero-title-color);
  background-color: var(--hero-title-background);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  z-index: 10;
}

/* ======================================
   SLIDER SECTION
====================================== */
.slide-section {
  margin-top: 10rem;
  height: 55rem;
  position: relative;
  border-bottom: 1px solid gray;
  padding-bottom: 2rem;
}

.slides-container {
  /* padding-top: 3rem; */
  margin-top: 4rem;
  height: 100%;
  width: 100%;
  position: relative;
}

.slider {
  margin-top: 0;
  max-width: 100%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  overflow: hidden;
}

.slider-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 0;
  padding: 0;
}

.slide {
  aspect-ratio: 3 / 2;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  backface-visibility: hidden;
  max-height: 100%;
}

.slide > img {
  object-fit: contain;
  pointer-events: none;
  max-width: 100%;
  width: auto;
  height: auto;
}

.slider__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: var(--slider-btns-color);
  font-family: inherit;
  color: var(--slider-btn-arrows-color);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-size: 3.25rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.slider__btn--left {
  left: 4%;
  transform: translate(-50%, -50%);
}

.slider__btn--left:active {
  opacity: 0.7;
  color: var(--slider-btn-arrows-color-hover);
}

.slider__btn--right {
  right: 4%;
  transform: translate(50%, -50%);
}

.slider__btn--right:active {
  opacity: 0.7;
  color: var(--slider-btn-arrows-color-hover);
}

.btn-image-slide {
  padding: 1rem 1.6rem;
  font-size: 1.3rem;
  background-color: var(--background);
  color: var(--slider-btns-color);
  border: 1px solid white;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-image-slide:hover {
  background-color: rgba(152, 152, 152, 0.801);
  color: white;
}
.btn-image-slide:active {
  transform: translateY(0.3rem);
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 100px;
  height: 100px;
}
.hidden {
  display: none;
}

/* ======================================
   ACERCA DE MI SECTION
====================================== */
.acerca-de-container {
  border-bottom: 1px solid gray;
  height: 100%;
  margin-top: 10rem;
  padding: 1rem;
  display: flex;
  gap: 0;
}
.section-about {
  margin-bottom: 0;
}
.acerca-de-img {
  margin: 0 auto;
  width: 50%;
  padding: 5rem;
}
.acerca-de-content {
  margin: 0 auto;
  height: 100%;
  padding: 5rem;
  width: 45%;
}

.acerca-de-content p {
  max-inline-size: 100%;
  line-height: 1.3;
  font-size: 1.1rem;
  color: white;
  text-align: justify;
}
.acerca-de-title {
  max-inline-size: 100%;
  line-height: 2;
  color: white;
  text-align: center;
  font-size: 2rem;
}
.acerca-de-title:hover {
  color: gray;
}
.acerca-de-img img {
  opacity: 0.95;
  max-width: 100%;
}

.img-name {
  color: white;
  font-size: 1rem;
}

/* ======================================
   EVENTOS SECTION
====================================== */
.hidden {
  display: none;
  opacity: 0;
}

.slide-event-section {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60rem;
  gap: 1rem;
  padding: 2.2rem;
}

.event-slider,
.event-text-container {
  width: 100%;
  box-sizing: border-box;
}

.event-slider {
  margin-top: 0;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide-event {
  border-radius: 2rem;
  position: absolute;
  margin-top: 12rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  backface-visibility: hidden;
}

.slide-event img {
  border-radius: 2rem;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.event-text-container {
  margin: 0 auto;
  padding: 4rem;
}

.event-text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
  padding: 1rem;
  text-align: justify;
}

.event-title {
  padding: 1.2rem;
  font-size: 2.3rem;
  line-height: 2.3;
  color: white;
  text-align: center;
}

.event-content {
  color: white;
  list-style-type: square;
  list-style-position: inside;
  text-align: justify;
  font-size: 1.5rem;
}

/* ======================================
   EVENTOS ENDS
====================================== */

/* ======================================
   GRID STARTS
====================================== */
.grid {
  padding: 2rem;
  height: 100%;
  margin: 3rem;
}

.grid-collage {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 50%;
  padding: 5rem;
  gap: 3rem;
}
.grid-item {
  position: relative;
  overflow: hidden;
}
.grid-item img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.item1 {
  grid-column: span 2;
  grid-row: span 2;
}

.item2 {
  grid-column: span 2;
  grid-row: span 1;
}

.item3 {
  grid-column: span 2;
  grid-row: span 1;
}

.item4 {
  grid-column: span 2;
  grid-row: span 1;
}

.item5 {
  grid-column: span 2;
  grid-row: span 1;
}
/* ======================================
   FOOTER STARTS
====================================== */
.footer {
  height: 100%;
  background-color: var(--background);
  display: flex;
  padding: 0rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer__title {
  margin-bottom: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--hero-title-color);
}
.footer__title:hover {
  color: gray;
}

.footer__link img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__link img:hover {
  transform: scale(1.7);
}
.footer__ulLink {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  padding: 2rem;
}

.footer__li {
  list-style: none;
  text-align: center;
}

/* ======================================
   FOOTER ENDS
====================================== */

/* ======================================
   ANIMATIONS STARTS
====================================== */
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ======================================
   ANIMATIONS ENDS
====================================== */
@media (max-width: 768px) {
  .off-screen-menu.active {
    max-height: 35%;
    max-width: 40%;
    padding: 0.9rem;
    z-index: 200;
    right: 0;
  }

  .ham-menu {
    border-radius: 50%;
    z-index: 2000;
    height: 3rem;
    width: 3rem;
    margin-left: auto;
    position: relative;
  }
  .ham-menu span {
    height: 0.3rem;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  .ham-menu.active span:nth-child(1) {
    top: 40%;
    transform: translate(-50%, 50%) rotate(-45deg);
  }
  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .ham-menu.active span:nth-child(3) {
    top: 40%;
    transform: translate(-50%, 50%) rotate(45deg);
  }
  .nav__logo {
    margin: 0 auto;
    width: 50%;
    align-items: center;
    display: flex;
  }
  .nav__links {
    display: none;
  }
  .nav__link:link,
  .nav__link:visited {
    font-size: 0.9rem;
  }
  .nav__links-ham {
    text-decoration: none;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}

/* ======================================
   HERO SECTION MEDIA QUERY
====================================== */
@media (max-width: 768px) {
  .hero {
    margin-top: 0;
    margin-bottom: 7rem;
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  .content-title {
    font-size: 0.8rem;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
  }
}

/* ======================================
   SLIDER SECTION MEDIA QUERIES
====================================== */

@media (max-width: 768px) {
  .slide-section {
    /* margin-top: 8rem;
    margin-bottom: 0;
    padding: 0;
    max-width: 95%;
    height: 45rem; */
    height: auto;
    margin-top: 5rem;
    padding-bottom: 2rem;
  }
  .slider {
    position: relative;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    width: 100%;
    height: 50%;
  }
  .slides-container {
    display: flex;
    position: relative;
    gap: 0.5rem;
    max-width: 100%;
    margin-top: 1rem;
  }
  .slider-controls {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 0.4rem;
    margin-top: 4.3rem;
    margin-bottom: 0;
    padding: 0 0.5rem;
    text-align: center;
  }
  .slide > img {
    margin-top: 0;
    width: 100%;
    margin: 0;
    object-fit: contain;
  }
  .slider__btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 2.2rem;
  }
  .slider__btn--left {
    left: 3%;
    opacity: 0.5;
    transform: translate(-10%, 10%);
  }
  .slider__btn--left:active {
    opacity: 1;
  }

  .slider__btn--right {
    right: 3%;
    opacity: 0.5;
    transform: translate(10%, 10%);
  }

  .btn-image-slide {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 50%;
    position: relative;
    color: transparent;
    background-color: var(--background);
    border: 1px solid rgba(255, 255, 255, 0.746);
    padding: 0.6rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 0.75rem;
    overflow: hidden;
  }
  .btn-image-slide:nth-child(3) {
    max-width: 25%;
  }

  .btn-image-slide:hover {
    /* transform: scale(1.3); */
    color: transparent;
    background-color: rgba(190, 189, 189, 0.801);
  }
  .btn-image-slide:active {
    color: transparent;
    transform: translateY(0.3rem);
  }
  .btn-image-slide::after {
    margin-top: 0;
    margin-bottom: 0;
    content: attr(data-emoji);
    color: var(--slider-btns-color);
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 50px;
    height: 50px;
  }
  .hidden {
    display: none;
  }
}

/* ======================================
   ACERCA DE MI SECTION MEDIA QUERY
====================================== */

@media (max-width: 768px) {
  .acerca-de-container {
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
  }
  .acerca-de-texto {
    text-align: justify;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 3rem;
  }
  .section-about {
    margin-bottom: 10rem;
  }
  .acerca-de-img {
    min-width: 100%;
    min-height: 50%;
    width: 100%;
    height: 50%;
  }
  .acerca-de-content {
    height: 50%;
    width: 100%;
    padding: 0;
  }
  .acerca-de-content p {
    line-height: 1.5;
    font-size: 1rem;
    color: white;
    text-align: justify;
  }
  .acerca-de-title {
    line-height: 3;
    border-top: 0;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
  }
  .acerca-de-title:hover {
    color: gray;
  }
  .acerca-de-img img {
    max-width: 100%;
  }

  .img-name {
    color: white;
    font-size: 1rem;
  }
}

/* ======================================
   EVENTOS SECTION
====================================== */
@media (max-width: 768px) {
  .slide-event-section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .event-slider,
  .event-text-container {
    margin: 0;
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
  }
  .slides-event-container {
    aspect-ratio: 3 / 2;
  }
  .slide-event {
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    transition: transform 1s;
  }

  .slide-event img {
    margin-top: 10rem;
    object-fit: contain;
    width: 100%;
    height: 50%;
  }

  .event-text-container {
    max-width: 100%;
    flex-direction: column;
  }

  .event-text {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.1rem;
  }

  .event-title {
    margin: 0;
    padding: 0;
    line-height: 3;
    font-size: 2rem;
  }

  .event-content {
    margin: 0;
    padding: 0;
    color: white;
    list-style-type: square;
    text-align: left;
    font-size: 1.2rem;
  }
}
/* ======================================
   SECTION  QUERIES
====================================== */
@media (max-width: 768px) {
  .section {
    max-width: 100%;
    margin-bottom: 0;
  }
}

/* ======================================
   FOOTER  QUERIES
====================================== */
@media (max-width: 768px) {
  .footer {
    margin-top: 6rem;
    height: 50%;
    background-color: var(--background);
    display: flex;
    padding: 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .footer__title {
    margin-bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: var(--hero-title-color);
  }
  .footer__link {
    display: inline-block;
  }

  .footer__link img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .footer__link img:hover {
    transform: scale(1.4);
  }
  .footer__ulLink {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
  }

  .footer__li {
    list-style: none;
    text-align: center;
  }
}

@media (max-width: 768px) {
  /* ======================================
   GRID STARTS
====================================== */
  .grid {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .grid-collage {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 50%;
    padding: 1rem;
    gap: 1.2rem;
  }
  .grid-item {
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  .grid-item img {
    margin: 0;
    border-radius: 1.6rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .item1 {
    margin: 0;
    grid-column: span 2;
    grid-row: span 2;
  }

  .item2 {
    margin: 0;
    grid-column: span 2;
    grid-row: span 1;
  }

  .item3 {
    margin: 0;
    grid-column: span 2;
    grid-row: span 1;
  }

  .item4 {
    margin: 0;
    grid-column: span 2;
    grid-row: span 1;
  }

  .item5 {
    margin: 0;
    grid-column: span 2;
    grid-row: span 1;
  }
}
